<header>
  Argent
  <span id="browser-hint">Please use Firefox (Chrome is not fully supported)</span>
</header>

<nav class="links">
  <a href="#">Tab1</a>
  <a href="#">Tab2</a>
  <a href="#">Tab3</a>
</nav>

<div class="placeholder">
  <div class="graph-container">
    <div #network class="graph">
    </div>
  </div>

  <div class="text-container">
    <div class="tex">
      <div #katex>
      </div>
    </div>
    <hr class="separator">
    <p id="node-description">
    </p>
  </div>
</div>

<footer class="links">
  <a href="https://github.com/anton-galkovsky/argent">Github</a>
</footer>
