<div class="page">
  <div class="header">
    Argent
  </div>

  <div class="navigation links">
    <a href="#">Tab1</a>
    <a href="#">Tab2</a>
    <a href="#">Tab3</a>
  </div>

  <div class="placeholder">
    <div class="column">
      <div #network class="graph">
      </div>
    </div>

    <div class="column">
      <div class="tex">
        <div #katex>
        </div>
      </div>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum at pharetra magna. Vivamus et
        felis blandit, ultrices velit ut, euismod risus. In aliquet sem in facilisis posuere. Aliquam
        ultricies tellus eu ex semper, at varius erat egestas. Vestibulum ante ipsum primis in faucibus orci
        luctus et ultrices posuere cubilia curae; Nulla ut augue libero. Quisque suscipit facilisis mi vitae
        tristique. Cras elit purus, tempus nec orci ac, finibus varius orci. Praesent in maximus quam.
        Vivamus ultricies laoreet ante, ut elementum velit scelerisque at. Etiam pulvinar metus ut velit
        luctus, eu varius tellus aliquet. Nullam dictum in nibh ut pharetra. Cras rutrum, magna quis feugiat
        euismod, nisi lacus tincidunt leo, a iaculis eros tortor sollicitudin augue. Cras nunc lacus,
        ultrices eget nunc eget, faucibus maximus tellus. Phasellus eget mauris ultrices, fermentum dui id,
        porta neque. Cras sagittis et sapien quis maximus.
      </p>
    </div>
  </div>

  <div class="navigation footer">
    <a href="https://github.com/anton-galkovsky/argent">Github</a>
  </div>
</div>
